body{
    font-family: 'Open Sans', sans-serif;
}

.div1{
    background-color : #088;
    width: 25%;
    padding: 20px;
    border: 20px solid limegreen;
    margin : 35px;
}

#droite{
    text-align: right;
}